TZ=Europe/Berlin

# Nur hier Hostnames/Domains ändern. YAML bleibt gleich.
DOMAIN_EXTERNAL=betz.coffee
DOMAIN_INTERNAL=home
TRAEFIK_HOST=traefik.${DOMAIN_INTERNAL}
HOMEPAGE_LEGACY_HOST=dashboard.${DOMAIN_INTERNAL}
HOMEPAGE_HOST=homepage.${DOMAIN_INTERNAL}
DOCS_HOST=docs.${DOMAIN_INTERNAL}
ADGUARD_HOST=adguard.${DOMAIN_INTERNAL}
STEP_CA_HOST=ca.${DOMAIN_INTERNAL}
TRAEFIK_EXTERNAL_CERTIFICATE_CONFIG_PATH=../../config/traefik/cloudflare-origin-certificate.yaml
VAULTWARDEN_HOST=passwort.${DOMAIN_EXTERNAL}
SMTP_SERVER=smtp.example.com
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_USERNAME=vaultwarden@example.com
SMTP_KEY=dummy-smtp-api-key-replace-me
SMTP_FROM=
SMTP_FROM_NAME=Vaultwarden
SHLINK_HOST=l.${DOMAIN_EXTERNAL}
SHLINK_WEB_HOST=shlink.${DOMAIN_INTERNAL}
ACTUAL_HOST=budget.${DOMAIN_INTERNAL}
N8N_HOST=n8n.${DOMAIN_INTERNAL}
GO2RTC_HOST=go2rtc.${DOMAIN_INTERNAL}
KITCHENOWL_HOST=shopping.${DOMAIN_EXTERNAL}
PAPERLESS_HOST=dokumente.${DOMAIN_INTERNAL}
HOMEASSISTANT_HOST=hass.${DOMAIN_INTERNAL}
HOMEASSISTANT_EXTERNAL_HOST=hass.${DOMAIN_EXTERNAL}
KAVITA_HOST=reader.${DOMAIN_INTERNAL}
KAVITA_BOOKS_PATH=/storage_array/books/books
KAVITA_COMICS_PATH=/storage_array/books/comics
IMMICH_HOST=fotos.${DOMAIN_EXTERNAL}
IMMICH_ADDITIONAL_EXTERNAL_HOST=fotos.fabian-und-kristina.de
IMMICH_INTERNAL_HOST=fotos.${DOMAIN_INTERNAL}
IMMICH_VERSION=release
IMMICH_UPLOAD_PATH=/storage_array/Photos
IMMICH_DB_PASSWORD=dummy-immich-db-password-replace-me
IMMICH_DB_USERNAME=immich
IMMICH_DB_DATABASE_NAME=immich
BESZEL_HOST=beszel.${DOMAIN_INTERNAL}
BESZEL_AGENT_KEY=dummy-beszel-agent-key-replace-me
BESZEL_AGENT_TOKEN=dummy-beszel-agent-token-replace-me
BESZEL_EXTRA_FILESYSTEM_PATH=/storage_array/.beszel

LAN_CIDR=10.0.0.0/8
DEPLOY_UID=1003
DEPLOY_GID=1003
ADGUARD_DNS_BIND_IP=10.0.0.2
ADGUARD_WEB_PORT=3125
HOMEPAGE_UID=1003
HOMEPAGE_GID=1003
VAULTWARDEN_UID=1003
VAULTWARDEN_GID=1003
SHLINK_DB_PASSWORD=dummy-shlink-db-password-replace-me
SHLINK_DB_ROOT_PASSWORD=dummy-shlink-db-root-password-replace-me
N8N_UID=1003
N8N_GID=1003
PAPERLESS_DB_PASSWORD=dummy-paperless-db-password-replace-me
PAPERLESS_DB_ROOT_PASSWORD=dummy-paperless-db-root-password-replace-me
PAPERLESS_SECRET_KEY=dummy-paperless-secret-key-replace-me
PAPERLESS_ADMIN_USER=admin
PAPERLESS_ADMIN_PASSWORD=dummy-paperless-admin-password-replace-me
PAPERLESS_CONSUME_PATH=/storage_array/documents

CLOUDFLARE_DDNS_DOMAINS=*.betz.coffee,betz.coffee
CLOUDFLARE_DDNS_PROXIED=true

STEP_CA_INIT_NAME=Homelab Internal CA
TRAEFIK_ACME_EMAIL=admin@betz.coffee
