{
    admin off
    skip_install_trust
    auto_https disable_redirects
}

{$WEDDING_HOST}, {$WEDDING_EXTERNAL_HOST} {
    tls internal
    header Referrer-Policy strict-origin
    reverse_proxy wedding:8080
}
